@import "reset.css";
.cart {
    padding-top: 106px;
}
.cart-index {
    z-index: 9999;
    width: 100%;
    height: auto;
    min-height: 1000px;
    display: flex;
    justify-content: space-between;
}
/* 장바구니 페이지 왼쪽 상품 정보 영역 */
.cartLDad {
    display: flex;
    height: auto;
    flex:0.65;
    padding: 10px 50px;
    background-color: #f5f5f5;;
}
.cartL {
    flex:1;
    height: 600px;
}
.cartL-head{
    background-color: #f5f5f5;
    height: 10%;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.cartL-head > h1 {
    line-height: 60px;
    font-size: 1.5em;
    font-weight: normal;
}
.cartL-head > a {
    display: inline-block;
    line-height: 60px;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 10px;
}
.mainlink {
    border-bottom: 1px solid black;
}
.cartL-content {
    height: 90%;
    display: flex;
    border: 2px solid #f5f5f5;
}
.productImage {
    padding: 10px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-right: 2px solid #ededed;;
}
.imgouter {
    height: auto;
    width: 100%;
    background-color: rgb(226, 225, 225);
    text-align: center;
}
.imgouter > img {
    width: 400px;
    height: 400px;
    cursor: pointer;
}
/* 이미지 클릭 시 확대 팝업 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 225, 225);
}
.modal-content {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
}
.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
/* 이미지 팝업 끝 */

/* 상품 정보 창 */
.infoContainer {
    background-color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
}
.productName {
    flex: 2;
    background-color: rgb(255, 255, 255);
    text-align: left;
    align-items: left;
    border-bottom: 2px solid #ededed;;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.productName > p {
    font-family: "futur";
    font-weight: bold;
    font-size: 0.9em;
}
.productName > div {
    font-family: "futur";
    font-weight: bold;
    font-size: 1.2em;
}
.productName > p , .productName > div {
    margin-left: 5%;
}
.productName > div > input {
	border : none;
	font-weight: bold;
	font-family: "futur";
}
.productInfo {
    flex: 7;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}
.moreInfo {
    flex: 6;
}
.moreInfo > li {
    display: flex;
    justify-content: space-between;
}
.count-price {
    margin-top: 150px;
    flex: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.count-price > span {
    font-weight: bold;
}
#quantity {
    width: 60px;
    height: 40px;
}
.productDrop {
    border-top: 2px solid #ededed;;
    flex: 1;
    display: flex;
}
.delete {
    font-size: 1em;
    font-weight: lighter;
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: none;
    margin: auto;
    line-height: 53px;
}
.delete i, .tomarket i {
    font-size: 1em;
}
.tomarket {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 2px solid #ededed;
    font-size: 1em;
    font-weight: lighter;
    background-color: rgb(255, 255, 255);
    flex: 1;
    margin: auto;
    line-height: 53px;
}
/* 오른쪽 화면 결제 창 */
.cartRMom {
    height: auto;
    flex:0.35;
    display: flex;
}
.cartR {
    height: 700px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.totalPrice {
    flex:3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
}
.cost {
    flex: 7;
}
.costmenu > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.costmenu > li:last-child {
    font-weight: bold;
    margin-top: 40px;
}
.paybtn {
    flex: 3;
}
.pay {
	color: white;
    font-size: 1em;
    font-weight: lighter;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border: none;
    line-height: 53px;
    cursor: pointer;
}
.pay a {
    color: #fff;
}
.etcService {
    flex:7;
    background-color: #fff;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
.etc {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.etc > li {
    flex:1;
}
.etc > li > button {
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: #111;
    font-weight: lighter;
    background-color: #fff;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ededed;
}
.etc > li > button > i {
    flex: 0.2;
    font-size: 2em;
}
.spanto {
    flex: 0.8;
    text-align: left;
}
particule {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
#purchase_modal{
	display: none;
	width: 20%;
	height: 20%;
	padding: 20px 20px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
}
.modal_main{
	display: flex;
	width: 100%;
	height: 50%;
}
.modal_main_left{
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal_main_right{
	flex: 3;
	
}
.modal_title{
	font-size:1.1em;
	padding-bottom: 2%;
	font-weight: bold;
	border-bottom: 1px solid #a4a4a4;
}
.modal_bottom{
	display: flex;
	width: 100%;
	height: 20%;
	margin-top: 5%;
}
.modal_bottom_left{
	flex: 1;
	display: flex;
	justify-content:center;
	align-items: center;
	border: 1px solid;
}
.modal_bottom_right{
	flex: 1;
}
