@import "reset.css";
body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 300;
    color: #111;
    font-size: 16px;
}
#wrapper {
    z-index: 998;
    position: relative;
    min-height: 100%;
    /* padding-bottom: 450px; padding의 높이 */ 
}
li, ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: #111;
}
