@import "reset.css";

@charset "UTF-8";
html{
	width: 100%;
	height: 100%;
	
}

body{
	width: 100%;
	height: 100%;
	margin: 0px;
}
#parent{
  position : relative;
  width: 100%;
  height: 100%;
}
#main_img{
	position: absolute;
	width: 1700px;
	height: 970px;
}
button.btn1 {
  position: absolute;
  top: 40px;
  left : 680px; 
  border: none;
  font-size: 15px;
  width: 80px;
  border-radius: 100px;
  background-color: white;
  cursor: pointer;
}
button.btn2 {
  position: absolute;
  top: 270px;
  left : 580px;
  border: none;
  font-size: 15px;
  width: 80px;
  border-radius: 100px;
  background-color: white;
  cursor: pointer;
}
button.btn3 {
  position: absolute;
  top: 450px;
  left : 600px;
  border: none;
  font-size: 15px;
  width: 80px;
  border-radius: 100px;
  background-color: white;
  cursor: pointer;
}
.line1{
	position: absolute;
	top: 50px;
  	left : 760px;
	width : 50px;
	height: 1px;
	background-color: white;
}
.line2{
	position: absolute;
	top: 280px;
  	left : 660px;
	width : 50px;
	height: 1px;
	background-color: white;
}
.line3{
	position: absolute;
	top: 460px;
  	left : 680px;
	width : 50px;
	height: 1px;
	background-color: white;
}
.visit-btn{
	position: absolute;
	top: 350px;
	left: 1000px;
	border-radius: 50px;
	border: 1px solid white;
}
.visit-btn button{
	height: 50px;
	border-radius: 50px;
	border: none;
	background-color: transparent;
	color: white;
	width: 200px;

}
.visit-btn:hover{
	border: 1px solid black;
	background-color: black;
	transition: all ease 1s 0s;
}
.visit-btn:hover + .video video{
	clip-path: circle(300px);
	transition: all ease 2s 0s;
}
.video{
	position: absolute;
	top: 410px;
	left: 900px;
}
.video video{
	height: 200px;
	left: 100px;
	position: absolute;
	clip-path: circle(30px);
}

.cubeCap {
        position            : absolute;
        left                : 650px;
        top                 : 40px;
        width               : 20px;
        height              : 20px;
        box-sizing          : border-box;
        perspective         : 400px;
    }
.cubeTop {
        position            : absolute;
        left                : 550px;
        top                 : 270px;
        width               : 20px;
        height              : 20px;
        box-sizing          : border-box;
        perspective         : 400px;
    }
.cubeBottom {
        position            : absolute;
        left                : 570px;
        top                 : 450px;
        width               : 20px;
        height              : 20px;
        box-sizing          : border-box;
        perspective         : 400px;
    }
.cube {
        width             : 100%;
        height            : 100%;
        transform-style   : preserve-3d;
        animation         : rotateCube 3s infinite linear normal;

    }
@keyframes rotateCube {
        from { transform: rotateX(360deg) rotateY(0deg);   }
        to   { transform: rotateX(0deg) rotateY(360deg);}
    }
    .cube-face {
        position    : absolute;
        width       : 100%;
        height      : 100%;
        box-sizing  : border-box;
        border      : 1px solid white;
    }

    .cube-face-front  { background: black; }
    .cube-face-right  { background: black; }
    .cube-face-back   { background: black; }
    .cube-face-left   { background: black; }
    .cube-face-top    { background: black; }
    .cube-face-bottom { background: black; }

    .cube-face-front  { transform: rotateY(  0deg) translateZ(5px); }
    .cube-face-right  { transform: rotateY( 90deg) translateZ(5px); }
    .cube-face-back   { transform: rotateY(180deg) translateZ(5px); }
    .cube-face-left   { transform: rotateY(-90deg) translateZ(5px); }
    .cube-face-top    { transform: rotateX( 90deg) translateZ(5px); }
    .cube-face-bottom { transform: rotateX(-90deg) translateZ(5px); }